.alerta{
	padding: 0.5rem;
	text-align: center;
	color: $blanco;
	font-weight: $bold;
	text-transform: uppercase;
	margin: 1rem 0;
	&.error{
		background: $rojo;
	}
	&.exito{
		background: $verde;
	}
}
table.propiedades,
table.entradas{
	margin-top: 4rem;
	width: 100%;
	border-spacing: 0;
	thead{
		background: $verde;
		th{
			color: $blanco;
			padding: 2rem;
		}
	}
	.imagen-tabla{
		width: 10rem;
	}
}
.imagen-small{
	width: 20rem;
}
.formulario textarea{
	resize: none;
}